td {
    height: 100px;
    width:  100px;
    font-size: 80px;
    text-align: center;
}
table{
    border-spacing: 0;
}
.top td {
    border-bottom: 5px solid black;
}
.bottom td {
    border-top: 5px solid black;
}
.left {
    border-right: 5px solid black;
}
.right {
    border-left: 5px solid black;
}